/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Italic'), local('OpenSans-Italic'),
    url('../fonts/OpenSans-Italic.woff2') format('woff2'),
    url('../fonts/OpenSans-Italic.woff') format('woff'),
    url('../fonts/OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
    url('../fonts/OpenSans-ExtraBold.woff2') format('woff2'),
    url('../fonts/OpenSans-ExtraBold.woff') format('woff'),
    url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
    url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
    url('../fonts/OpenSans-SemiBold.woff') format('woff'),
    url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff'),
    url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold.woff') format('woff'),
    url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

ul[class],
ol[class] {
    list-style: none;
}

a:not([class]) {
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
}

img {
    max-width: 100%;
    display: block;
}

article > * + * {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

button {
    all: unset;
}

label {
    display: inline-block;
}

@media (prefers-reduced-motion: reduce) {
    * {
        -webkit-animation-duration: 0.01ms !important;
        animation-duration: 0.01ms !important;
        -webkit-animation-iteration-count: 1 !important;
        animation-iteration-count: 1 !important;
        -webkit-transition-duration: 0.01ms !important;
        -o-transition-duration: 0.01ms !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}



:root {
    --accent-color: #ff2d2d;
    --main-bg-color: #313030;
    --header-color: #f6f2f2;
    --light-bg-color: #f5f0dd;
    --main-text-color: #4c4c4c;
    --minor-text-color: #FFFFFFFF;

    --font-sm: 12px;
    --font-md: 16px;
    --font-ld: 24px;
    --font-xl: 32px;
    --font-xxl: 48px;

}

body {
    font-family: "Open Sans", sans-serif;
    font-size: var(--font-md);
    color: var(--main-text-color);
    /*?*/
    font-style: normal;
}

.container {
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000000;
    display: inline-block;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.btn {
    border: 2px solid var(--accent-color);
    border-radius: 5px;
    padding: 13px 53px;
    font-weight: 700;
    font-size: var(--font-ld);
    text-transform: capitalize;
}


/*header*/


header {
    background-color: var(--header-color);
    padding: 30px 0 0 0;
}

.header__nav {
    background-color: var(--main-bg-color);
}

header a {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--minor-text-color);
    padding: 25px 30px;
}

header a:hover,
header .active a {
    background-color: var(--accent-color);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.header__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}


/*section banner*/


.banner {
    padding: 110px 0;
    background-color: var(--header-color);
}

.banner .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.banner .col {
    width: 45%;
}

.banner .banner__title {
    font-size: var(--font-xxl);
    line-height: 65px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 35px;
}

.banner .banner__description {
    max-width: 515px;
    margin-bottom: 60px;
}

.banner .banner__contact {
    background-color: var(--accent-color);
    color: var(--minor-text-color);
}

.banner .banner__contact:hover {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    background-color: transparent;
    color: var(--accent-color);
}

.banner__video-wrapper iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    border: none;
    -webkit-box-shadow: 0 0 70px -10px black;
    box-shadow: 0 0 70px -10px black;
}


/*section portfolio*/


.portfolio {
    padding: 115px 0;
}

.portfolio .row {
    gap: 140px;
}

.portfolio .col {
    width: 50%;
}

.portfolio .portfolio__subtitle {
    font-size: var(--font-xxl);
    line-height: 55px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 35px;
}

.portfolio .portfolio__description {
    margin-bottom: 55px;
    max-width: 515px;
}

.portfolio .portfolio__button {
    color: var(--accent-color);
    margin-bottom: 120px;
}

.portfolio .portfolio__button:hover {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    background-color: var(--accent-color);
    color: var(--minor-text-color);
}

.portfolio .portfolio__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    row-gap: 55px;
    -webkit-column-gap: 45px;
    -moz-column-gap: 45px;
    column-gap: 45px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.portfolio .portfolio__logo__item {
    width: calc(50% - 23px);
}

.portfolio .portfolio__logos {
    stroke-width: 0.5;
    fill: transparent;
    stroke: var(--accent-color);
    width: 15%;
    margin-bottom: 15px;
}

.portfolio .portfolio__logo__subtitle {
    font-size: var(--font-ld);
    font-weight: 600;
    margin-bottom: 25px;
}

.portfolio .portfolio__logo__text {
    max-width: 290px;
}

.line {
    width: 100%;
    height: 2px;
    background: #ececec;
    margin: 0 auto;
}


/*section products*/


.products {
    padding: 100px 0 70px;
}

.products .products__subtitle {
    font-size: var(--font-xxl);
    font-weight: bold;
    text-align: center;
    margin-bottom: 35px;
}

.products .products__subtitle__text {
    max-width: 510px;
    margin: 0 auto 35px;
    text-align: center;
}

.products .products__line {
    max-width: 130px;
    height: 3px;
    background-color: var(--accent-color);
    margin: 0 auto 20px;
}

.products .products__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 55px;
}

.products .products__nav-list button {
    color: #4c4c4c;
    font-size: var(--font-ld);
    font-weight: 600;
    padding: 70px 0;
}

.products .products__nav-list li button:hover,
.products .products__nav-list li button.active {
    color: var(--accent-color);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.row__products__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    row-gap: 20px;
}

.products__content__item {
    width: calc(25% - 15px);
}


/*section team*/


.team {
    padding: 70px 0 115px;
}

.team .team__subtitle {
    font-size: var(--font-xxl);
    margin-bottom: 35px;
    font-weight: bold;
}

.team .team__subtitle__text {
    max-width: 450px;
    margin-bottom: 30px;
}

.team .team__line {
    max-width: 130px;
    height: 3px;
    background-color: var(--accent-color);
    margin-bottom: 60px;
}

.team .team__members {
    position: relative;
}

.team .team__member img {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: 70px;
    max-height: 460px;
}

.team .team__member figcaption {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
}

.team .team__content__title {
    font-size: var(--font-xl);
    font-weight: 600;
    margin-bottom: 40px;
}

.team .team__content__text {
    margin-bottom: 45px;
    max-width: 640px;
}

.team .team__content__list {
    gap: 40px;
    left: 460px;
    position: absolute;
    top: 185px;
}

.team .team__content__list a {
    font-style: italic;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
    margin-bottom: 70px;
}

.team .team__content__items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 63%;
}

.team .team__content__item {
    width: calc(100% / 4 - 15px);
    position: relative;
}

.team .team__content__item-img {
    width: 100%;
}

.team .team__item__title {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #7a786e;
    color: var(--minor-text-color);
    text-align: center;
    font-size: var(--font-ld);
    font-weight: 600;
    opacity: 0;
}

.team .team__content__item:hover .team__item__title {
    opacity: 1;
}


/*section subscription*/


.subscription {
    padding: 140px 0;
    background-color: var(--light-bg-color);
}

.subscription .subscription__subtitle {
    font-size: var(--font-xxl);
    color: var(--minor-text-color);
    text-align: center;
    margin-bottom: 40px;
}

.subscription .subscription__description {
    color: var(--minor-text-color);
    text-align: center;
    margin-bottom: 55px;
}

.subscription .subscription__form {
    text-align: center;
}

.subscription .subscription__form input {
    height: 80px;
    /*max-width: 520px;*/
    padding: 30px 360px 30px 30px;
    margin-right: 20px;
}

.subscription .subscription__button {
    background-color: var(--accent-color);
    color: var(--minor-text-color);
    border-radius: 5px;
    border: 2px solid var(--accent-color);
    padding: 25px 50px;
    font-weight: 700;
    font-size: var(--font-ld);
    text-transform: capitalize;
}

.subscription .subscription__button:hover {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    background-color: transparent;
    color: var(--accent-color);
}


/*section contact*/

.contact {
    padding: 100px 0;
    overflow-x: hidden;
}

.contact .contact__subtitle {
    font-size: var(--font-xxl);
    text-transform: uppercase;
    margin-bottom: 50px;
}

.contact .contact__description {
    margin-bottom: 55px;
    max-width: 730px;
}

.contact .contact__line {
    max-width: 130px;
    height: 3px;
    background-color:var(--accent-color);
    margin-bottom: 75px;
}

.contact .contact__content {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.contact .contact__content__left {
    width: 55%;
}

.contact .contact__form {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.contact .contact__form input {
    width: calc(100% / 2 - 15px);
    padding: 20px 0 20px 50px;
    background-color: #EFEFEF;
    border: 1px solid #EFEFEF;
    border-radius: 15px;
    margin-bottom: 40px;
}

.contact [type="text"] {
    margin-right: 30px;
}

.contact .contact__form textarea {
    background-color: #EFEFEF;
    border: 1px solid #EFEFEF;
    border-radius: 15px;
    padding-left: 30px;
    height: 245px;
    width: 100%;
    padding-top: 30px;
    resize: none;
    margin-bottom: 40px;
}

.contact .contact__form button {
    height: 70px;
    width: 100%;
    border-radius: 5px;
    background-color: var(--accent-color);
    color: var(--minor-text-color);
    border: none;
    text-align: center;
}

.contact .contact__content__right {
    background-color: var(--main-bg-color);
    width: 40%;
    color: var(--minor-text-color);
    padding: 135px 0 110px 75px;
    position: relative;
}

.contact .contact__content__right:after {
    content: " ";
    position: absolute;
    display: block;
    background-color: var(--main-bg-color);
    height: 100%;
    width: 100vw;
    left: 99%;
    top: 0;

}

.contact .contact__info {
    margin-bottom: 40px;
    font-weight: 600;
    text-transform: uppercase;
}

.contact .contact__address {
    margin-bottom: 25px;
}

.contact .contact__content__right a {
    color: var(--minor-text-color);
}


/*footer*/


.footer {
    padding: 55px 0 40px;
    background-color: var(--main-bg-color);
    color: var(--minor-text-color);
}

.footer .footer__row {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer .footer__social {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: calc(100% / 3);
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
}

.footer .footer__social a {
    width: calc(100% / 8 - 15px);
    margin-right: 15px;
}

.footer .footer__social a svg {
    stroke-width: 1;
    stroke: var(--minor-text-color);
    fill: transparent;
}

.footer .footer__social a:last-child {
    margin-right: 0;
}

@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }

    .portfolio .row {
        gap: 70px;
    }

    .portfolio .portfolio__subtitle {
        font-size: var(--font-xl);
    }

    .team .team__content__list {
        left: 420px;
    }

    .team .team__content__items {
        gap: 10px;
        max-width: 58%;
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 767px;
    }

    .banner {
        padding: 55px 0;
    }

    .banner .row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .banner .col {
        width: 100%;
        text-align: center;
    }

    .banner .banner__title {
        font-size: var(--font-xl);
        line-height: 40px;
        letter-spacing: 3px;
        margin-bottom: 25px;
    }

    .banner .banner__description {
        max-width: 100%;
        margin-bottom: 30px;
    }

    .banner .btn {
        margin-bottom: 30px;
    }

    .portfolio {
        padding: 70px 0;
    }

    .portfolio .row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 0;
    }

    .portfolio .col {
        width: 100%;
        text-align: center;
    }

    .portfolio .portfolio__description {
        margin-bottom: 35px;
        max-width: 100%;
    }

    .portfolio .portfolio__button {
        margin-bottom: 50px;
    }

    .portfolio .portfolio__logo {
        row-gap: 0;
        -webkit-column-gap: 0;
        -moz-column-gap: 0;
        column-gap: 0;
    }

    .portfolio .portfolio__logo__item {
        width: 50%;
        text-align: justify;
    }

    .portfolio .portfolio__logo__text {
        max-width: 90%;
        margin-bottom: 20px;
    }

    .products {
        padding: 50px 0;
    }

    .products .products__line {
        margin: 0 auto;
    }

    .products .products__nav-list button {
        font-size: var(--font-md);
        padding: 40px 0;
        text-align: center;
    }

    .products__content__item {
        width: calc(100% / 3 - 15px);
    }

    .team {
        padding: 50px 0;
    }

    .team .team__member img {
        margin-right: 50px;
        max-width: 33%;
    }

    .team .team__subtitle,
    .team .team__content__title,
    .team .team__content__text {
        margin-bottom: 20px;
    }

    .team .team__subtitle__text {
        max-width: 470px;
    }

    .team .team__line {
        margin-bottom: 30px;
    }

    .team .team__content__list {
        left: 290px;
        top: 155px;
    }

    .team .team__content__list a {
        font-size: var(--font-ld);
        margin-bottom: 0;
    }

    .team .team__content__items {
        max-width: 65%;
        right: -29px;
    }

    .subscription {
        padding: 70px 0;
    }

    .subscription .subscription__form input {
        margin: 0 0 20px;
    }

    .contact {
        padding: 50px 0;
    }

    .contact .contact__subtitle,
    .contact .contact__description,
    .contact .contact__line {
        margin-bottom: 30px;
    }

    .contact .contact__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .contact .contact__content__left,
    .contact .contact__content__right {
        width: 100%;
    }

    .contact .contact__form button {
        margin-bottom: 30px;
    }

    .contact .contact__content__right {
        padding: 75px 0 75px 75px;
    }

    .footer {
        padding: 30px 0;
    }

    .footer .footer__social a {
        width: calc(100% / 5 - 15px);
    }

}

@media (max-width: 767px) {
    .container {
        max-width: 576px;
    }

    .banner .banner__title {
        font-size: var(--font-xl);
    }

    .products .products__subtitle {
        margin-bottom: 20px;
    }

    .products .products__nav-list {
        gap: 25px;
    }

    .products .products__nav-list button {
        padding: 25px 0;
    }

    .row__products__content {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .products__content__item {
        width: calc(100% / 2 - 35px);
    }

    .team .team__subtitle,
    .team .team__subtitle__text {
        max-width: 100%;
        text-align: center;
    }

    .team .team__line {
        margin: 0 auto 30px;
    }

    .team .team__member img {
        margin: 0 20px 20px 0;
        max-width: 50%;
    }

    .team .team__content__title {
        font-size: var(--font-xl);
    }

    .team .team__content__list {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: 40px;
        top: 230px;
    }

    .team .team__content__list li  {
        width: calc(100% / 2 - 20px);
    }

    .team .team__content__list a {
        font-size: var(--font-ld);
    }

    .team .team__content__items {
        position: static;
        max-width: 100%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        gap: 0;
    }

    .subscription .subscription__subtitle {
        font-size: var(--font-xxl);
    }

    .subscription .subscription__form input {
        max-width: 520px;
    }
}

@media (max-width: 576px) {
    header {
        display: none;
    }

    .banner {
        padding: 25px 0;
    }

    .banner .btn {
        width: 100%;
    }

    .portfolio .portfolio__subtitle {
        font-size: var(--font-xl);
        line-height: 40px;
    }

    .portfolio .portfolio__logo__item {
        width: 100%;
        text-align: justify;
    }

    .portfolio .portfolio__button {
        width: 100%;
    }

    .products .products__line {
        margin: 0 auto 20px;
    }

    .products .products__nav-list {
        display: none;
    }

    .products__content__item {
        width: 90%;
    }

    .team .team__subtitle {
        font-size: var(--font-xl);
    }

    .team .team__content__title,
    .team__content__text{
        text-align: center;
    }

    .team .team__member-mark {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .team .team__member img {
        margin:0;
        max-width: 100%;
    }

    .team .team__content__list {
        position: static;
        display: block;
        margin-bottom: 15px;
    }

    .team .team__content__list li:before {
        content: "🚀";
    }

    .team .team__content__list li a {
        padding-left: 5px;
    }

    .team .team__content__items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        row-gap: 10px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .team .team__content__item {
        width: 70%;
    }

    .subscription .subscription__subtitle {
        font-size: var(--font-xl);
    }

    .subscription .subscription__form input {
        max-width: 300px;
        padding-right: 50px;
    }

    .subscription .subscription__button {
        padding: 25px 70px
    }

    .contact .contact__subtitle {
        font-size: var(--font-xxl);
    }

    .contact .contact__form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .contact .contact__form input {
        width: 100%;
    }

    .contact .contact__content__right {
        padding: 50px 0 50px 50px;
    }

    .footer .footer__row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .footer .footer__copyright p {
        font-size: var(--font-sm);
        margin-bottom: 10px;
    }

    .footer .footer__social {
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .footer .footer__social a {
        width: calc(100% / 8 - 15px);
    }
}
